@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 267 27% 95%;
    --foreground: 276 15% 25%;
    --card: 0 0% 100%;
    --card-foreground: 276 15% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 276 15% 25%;
    --primary: 273 37% 71%;
    --primary-foreground: 276 15% 25%;
    --secondary: 274 25% 60%;
    --secondary-foreground: 0 0% 98%;
    --muted: 267 27% 92%;
    --muted-foreground: 275 10% 50%;
    --accent: 274 25% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 267 20% 88%;
    --input: 267 20% 88%;
    --ring: 274 25% 60%;
    --radius: 0.8rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 276 15% 15%;
    --foreground: 267 27% 95%;
    --card: 276 15% 20%;
    --card-foreground: 267 27% 95%;
    --popover: 276 15% 15%;
    --popover-foreground: 267 27% 95%;
    --primary: 273 37% 71%;
    --primary-foreground: 276 15% 15%;
    --secondary: 274 25% 60%;
    --secondary-foreground: 0 0% 98%;
    --muted: 276 15% 25%;
    --muted-foreground: 267 20% 70%;
    --accent: 274 25% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 276 15% 25%;
    --input: 276 15% 25%;
    --ring: 273 37% 71%;
    --radius: 0.8rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply scroll-smooth;
  }
}

@layer utilities {
  .animation-fade-in {
    animation: fadeIn 1s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
